<div class="container" *ngVar="(communityRD$ | async) as communityRD">
  @if (communityRD?.hasSucceeded) {
    <div class="community-page" @fadeInOut>
      @if (communityRD?.payload; as communityPayload) {
        <div>
          <div class="d-flex flex-row border-bottom mb-4 pb-4">
            <header class="comcol-header me-auto">
              <!-- Community name -->
              <ds-comcol-page-header [name]="dsoNameService.getName(communityPayload)"></ds-comcol-page-header>
              <!-- Community logo -->
              @if (logoRD$) {
                <ds-comcol-page-logo [logo]="(logoRD$ | async)?.payload" [alternateText]="'community.logo' | translate">
                </ds-comcol-page-logo>
              }
              <!-- Handle -->
              <ds-comcol-page-handle [content]="communityPayload.handle" [title]="'community.page.handle'">
              </ds-comcol-page-handle>
              <!-- Introductory text -->
              <ds-comcol-page-content [content]="communityPayload.introductoryText" [hasInnerHtml]="true">
              </ds-comcol-page-content>
              <!-- News -->
              <ds-comcol-page-content [content]="communityPayload.sidebarText" [hasInnerHtml]="true"
                [title]="'community.page.news'">
              </ds-comcol-page-content>
            </header>
            <ds-dso-edit-menu></ds-dso-edit-menu>
          </div>
           <section class="comcol-page-browse-section">
            <!-- Subcomunidades -->
    
            <div class="d-flex justify-content-center flex-wrap gap-3 gap-md-5" >
                    <div  class="d-flex flex-column align-items-center gap-2 mb-3 mb-md-0">
                        <a class="d-block my-2 my-md-0 border" routerLink="/communities/d121b8cd-8487-476a-ae3d-946e393693b6" >
                            <img class="img-fluid" src="assets/inpa_bha/images/3.png"
                                [attr.alt]="" />
                        </a>
                        <h6 class="text-center">Versão em Português</h6>
                    </div>
                    <div  class="d-flex flex-column align-items-center gap-2 mb-3 mb-md-0">
                        <a class="d-block my-2 my-md-0 shadow-sm" routerLink="/communities/fcbe79da-12fb-4bae-94d0-3cf60e988d33" >
                            <img class="img-fluid" src="assets/inpa_bha/images/2.png"
                                [attr.alt]="" />
                        </a>
                        <h6 class="text-center">Versão em Espanhol</h6>
                    </div>
                    <div  class="d-flex flex-column align-items-center gap-2 mb-3 mb-md-0">
                        <a class="d-block my-2 my-md-0" routerLink="/communities/bd4e12e8-2bd8-4e20-a276-42388c0a68c4" >
                            <img class="img-fluid" src="assets/inpa_bha/images/1.png"
                                [attr.alt]="" />
                        </a>
                        <h6 class="text-center">Versão em Inglês</h6>
                    </div>
                </div>
          </section>

          @if (communityPayload.copyrightText) {
            <footer class="border-top my-5 pt-4">
              <!-- Copyright -->
              <ds-comcol-page-content [content]="communityPayload.copyrightText" [hasInnerHtml]="true">
              </ds-comcol-page-content>
            </footer>
          }
        </div>
      }
    </div>
  }

  @if (communityRD?.hasFailed) {
    <ds-error message="{{'error.community' | translate}}"></ds-error>
  }
  @if (communityRD?.isLoading) {
    <ds-loading message="{{'loading.community' | translate}}"></ds-loading>
  }
</div>
