.thumbnail-container {
    width: 100%;
    background-color: var(--bs-gray-200);
}

.thumbnail-container ds-thumbnail {
    display: block;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.thumbnail-container ::ng-deep img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}