<div class="container" *ngVar="(communityRD$ | async) as communityRD">
  @if (communityRD?.hasSucceeded) {
    <div class="community-page" @fadeInOut>
      @if (communityRD?.payload; as communityPayload) {
        <div>
          <div class="d-flex flex-row border-bottom mb-4 pb-4">
            <header class="comcol-header me-auto">
              <!-- Community name -->
              <ds-comcol-page-header [name]="dsoNameService.getName(communityPayload)"></ds-comcol-page-header>
              <!-- Community logo -->
              @if (logoRD$) {
                <ds-comcol-page-logo [logo]="(logoRD$ | async)?.payload" [alternateText]="'community.logo' | translate">
                </ds-comcol-page-logo>
              }
              <!-- Handle -->
              <ds-comcol-page-handle [content]="communityPayload.handle" [title]="'community.page.handle'">
              </ds-comcol-page-handle>
              <!-- Introductory text -->
              <ds-comcol-page-content [content]="communityPayload.introductoryText" [hasInnerHtml]="true">
              </ds-comcol-page-content>
              <!-- News -->
              <ds-comcol-page-content [content]="communityPayload.sidebarText" [hasInnerHtml]="true"
                [title]="'community.page.news'">
              </ds-comcol-page-content>
            </header>
            <ds-dso-edit-menu></ds-dso-edit-menu>
          </div>
          <section class="comcol-page-browse-section">
       <!-- Coleções -->
              <div class="d-flex justify-content-center gap-5" >
                <div  class="d-flex flex-column gap-2 align-items-center">
                        <a class="d-block my-2 my-md-0" routerLink="/collections/20f89386-574e-47d6-befa-51f465b6dfc9" >
                            <img id="header-logo" src="assets/inpa_bha/images/1.png"
                                [attr.alt]="" /> 
                        </a>
                        <h6>Ano 2025</h6>
                    </div>
                    <div  class="d-flex flex-column gap-2 align-items-center">
                        <a class="d-block my-2 my-md-0 shadow-sm" routerLink="/collections/7f610f8b-b517-440a-a049-adcbc53ef352" >
                            <img id="header-logo" src="assets/inpa_bha/images/2.png"
                                [attr.alt]="" />
                        </a>
                        <h6>Ano 2024</h6>
                    </div>
                    <div  class="d-flex flex-column gap-2 align-items-center">
                        <a class="d-block my-2 my-md-0" routerLink="/collections/0e373c93-63c6-4067-90ff-6c695957da5d" >
                            <img id="header-logo" src="assets/inpa_bha/images/1.png"
                                [attr.alt]="" />
                        </a>
                        <h6>Ano 2023</h6>
                    </div>
                    <div  class="d-flex flex-column gap-2 align-items-center">
                        <a class="d-block my-2 my-md-0 shadow-sm" routerLink="/collections/a271d761-6fc5-4640-9de1-e79e878f5d35" >
                            <img id="header-logo" src="assets/inpa_bha/images/2.png"
                                [attr.alt]="" />
                        </a>
                        <h6>Ano 2022</h6>
                    </div>
                
                    <div  class="d-flex flex-column align-items-center gap-2">
                        <a class="d-block my-2 my-md-0 border" routerLink="/collections/c8993a49-4068-4c6a-9195-f36255f368f7" >
                            <img id="header-logo" src="assets/inpa_bha/images/3.png"
                                [attr.alt]="" />
                        </a>
                        <h6>Ano 2021</h6>
                    </div>
                    
                    
                    
                    
                </div>
          </section>
          @if (communityPayload.copyrightText) {
            <footer class="border-top my-5 pt-4">
              <!-- Copyright -->
              <ds-comcol-page-content [content]="communityPayload.copyrightText" [hasInnerHtml]="true">
              </ds-comcol-page-content>
            </footer>
          }
        </div>
      }
    </div>
  }

  @if (communityRD?.hasFailed) {
    <ds-error message="{{'error.community' | translate}}"></ds-error>
  }
  @if (communityRD?.isLoading) {
    <ds-loading message="{{'loading.community' | translate}}"></ds-loading>
  }
</div>
